/* Table of Contents
- - - - - - - - -
1. Global
2. Cabeçalho
3. Destaques
4. Projects
5. Inner Pages
6. Blog
7. Shortcodes
8. Footer
9. Media Queries
- - - - - - - - -
*/

/* ========================
1 = Global
======================== */

body { background: #fff; color: #808080; font-family: 'PT Sans', sans-serif; font-size: 14px; font-style: normal; font-weight: normal; margin: 0; position: relative;}
.row { margin: 0 auto; max-width: 1170px; width: 100%; }
.row.full-width {  margin: 0 auto; max-width: 100%; width: 100%; }
.row.custom-width-90 {  margin: 0 auto; max-width: 90%; width: 90%; }
.row.full-width-padding {  margin: 0 auto; max-width: 98%; width: 98%; }
.row.no-gutter { margin:0 auto;}
.row.no-gutter [class*='col-']:not(:first-child), .row.no-gutter [class*='col-']:not(:last-child) { padding-left: 0; padding-right: 0; }
.row.no-gutter-all { margin:0 auto;}
.row.no-gutter-all [class*='col-'] { padding-left: 0; padding-right: 0; }
.center-block { float: none; }
a { color: #36A8FF; outline: 0; text-decoration: none; }
a:hover, a:active, a:focus { outline: 0; text-decoration: none; color:#000; }
code { background: #666; border: 0; border-radius: 6px; color: #fff; display: block; font-family: consolas, monaco, 'andale mono', monospace; font-weight: normal; line-height: 1.3; margin: 8px 0; padding: 12px; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; }
mark { color: #fff; padding: 1px 4px; border-radius: 2px; font-weight: 600; background:#3190E7;}
img {  max-width: 100%;  height: auto; -ms-interpolation-mode: bicubic; display: inline-block;  vertical-align: middle;}
.center-block { float: none; }
.alignright {float:right; padding-left:35px;}
.alignleft {float:left; padding-right:35px;}
.spacing-45 {padding-top:45px;}
.spacing-65 {padding-top:65px;}

/* Î—eadings */
h1, h2, h3, h4, h5, h6 { font-family: 'Lato', sans-serif; letter-spacing:-0.02em; font-weight: 900; line-height: 1.3; margin-bottom: 12px; margin-top: 12px; text-rendering: optimizelegibility;}
h1 { font-size: 44px; }
h2 { font-size: 34px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
/* End of Î—eadings */

p { font-family: inherit; font-size: 17px; line-height: 1.5; margin: 0 0 17px 0;  font-weight: 300;}
ul li, ol li { font-family: inherit; font-size: 17px; line-height: 1.5; font-weight: 300;}
hr { border: solid #999; border-width: 1px 0 0; clear: both; height: 0; margin: 21px 0; }
hr.small { border: solid #313740; border-width: 1px 0 0; clear: both; height: 0; margin: 0 auto; margin-top:21px; margin-bottom:21px; max-width:100px;}

/* ========================
2 = Cabeçalho
======================== */
#home{position: relative;}

.header.header-topo{
	position: absolute;
	top: 0;
	z-index: 99999;
	width: 100%;
}

.header.header-topo .barra-top{
	padding: 12px 0 5px;
	margin: 0;
}

.header ul.telefone{
	margin:0;
	padding: 0;
	list-style: none;
	float: left; 
}

.header ul.telefone li{
	float: left;
	font-size: 14px;
	font-weight:500;
	color: #fff;
	margin-right: 20px;
	letter-spacing: 0.45em;
	padding: 0;
}

.header ul.telefone li:first-child{
	padding-right: 15px;
	border-right: 1px solid rgba(255,255,255,.4);
	margin-right: 20px;
}

.header ul.telefone li i{
	color: #fff;
	text-align: center;
	font-size: 14px;
	padding-top: 5px;
	margin: 0;
}

.header ul.telefone li i:hover{color: #E1E3E4;}

.header ul.toplinks {margin:0; padding:0; list-style:none; float:right;}
.header ul.toplinks li {float:left; font-size:13px; color:#fff; letter-spacing: .025em; padding:0 10px; font-weight:500;}
.header ul.toplinks li:last-child {padding-right:0;}
.header ul.toplinks li a {text-align: center; font-size:13px; color:#fff; }
.header ul.toplinks li a:hover {color:#E1E3E4;}
.header ul.toplinks li i {font-size:14px; padding-top:2px;}

.header .logonav {background:#fff; margin-top:5px; padding:0;  }
.header .logo {margin-top:15px; padding-left:15px;}

#index-slider {display:none;}
#index-slider .sp-slide:after {background:#055AA8; opacity:.8; bottom:0px; content:""; left:0; position:absolute; right:0; top:0; }
#index-slider .sp-slide .hw-the-slider-content { display: block; margin:0 auto; position:absolute; text-align: center; z-index: 2; left: 0;  right: 0;  top: 50%;  -webkit-transform: translateY(-50%);  -ms-transform: translateY(-50%);  transform: translateY(-50%);}
#index-slider .sp-slide .hw-the-slider-container {  display: table;    margin: 0;    padding: 0;    width: 100%;    z-index: 1;    text-align: center;}
#index-slider .sp-slide .hw-the-slider-captions {    display: table-cell;    margin: 0;    padding: 0 100px;    vertical-align: middle;    width: 100%;    z-index: 1;}
#index-slider .sp-slide h2 {color: #fff; text-transform: uppercase; font-size:47px; margin-bottom:35px;}
#index-slider .sp-slide p{  color: #fff; font-size:18px; margin-bottom:55px;}
#index-slider .sp-slide a.hw-btn {background:#28cb75; color:#fff; font-weight:700; letter-spacing: .06em; text-transform: uppercase; font-size:13px; border-radius: 2px;  padding: 15px 30px; transition: background-color 1s ease 0s;}
#index-slider .sp-slide a.hw-btn:hover {background:#0CB863;}

#index-slider .sp-buttons { position: absolute;  width: 100%;  text-align: center;  bottom:15px;}
#index-slider .sp-button {width: 20px; height: 20px; background: #fff none repeat scroll 0 0; border: 0; border-radius: 50%; margin: 4px;  display: inline-block; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box;  cursor: pointer;  transform: translate3d(0px, -50%, 0px) scale(0.4); transform-origin: 50% 50% 0;    transition: all 250ms ease-out 0s;}
#index-slider .sp-selected-button, #index-slider .sp-button:hover { background: #28CB75 none repeat scroll 0 0; transform: translate3d(0px, -50%, 0px) scale(0.8);}
#index-slider .sp-arrow { width: 15px; height: 22px;}

/* HEADER SLIDER (index2.html)  ---------------------- */
#index-slider2 {display:none;}
#index-slider2 .sp-mask { background: #666;}
#index-slider2 .sp-slide:after { background: #8C8C8C; opacity:.7; bottom:0px; content:""; left:0; position:absolute; right:0; top:0;}
#index-slider2 .sp-slide .hw-the-slider-content { display: block; margin:0 auto; position:absolute; text-align: center; z-index: 2; left: 0;  right: 0;  top: 50%;  -webkit-transform: translateY(-50%);  -ms-transform: translateY(-50%);  transform: translateY(-50%);}
#index-slider2 .sp-slide .hw-the-slider-container {  display: table;    margin: 0;    padding: 0;    width: 100%;    z-index: 1;    text-align: center;}
#index-slider2 .sp-slide .hw-the-slider-captions {display: table-cell; margin: 0;    padding: 0 100px;    vertical-align: middle;    width: 100%;    z-index: 1;}
#index-slider2 .sp-slide .title-frame {display:none;}
#index-slider2 .sp-slide.sp-selected .title-frame {display:inline-block; padding:25px 45px; background:#3190E7; background:rgba(49,144,231,.7); text-align: center; max-width:100%; width:55%; box-shadow: 2px 2px 5px hsla(0,0%,0%,.2); outline: 1px solid rgba(255,255,255,.25); outline-offset: -16px; color:#fff; -webkit-font-smoothing: antialiased;}
#index-slider2 .sp-slide.sp-selected .title-frame.green {background:#28CB75; background:rgba(40,203,107,.7);}
#index-slider2 .sp-slide.sp-selected .title-frame.black {background:#151515; background:rgba(21,21,21,.7);}
#index-slider2 .sp-slide.sp-selected .title-frame.orange {background:#E5603F; background:rgba(229,96,63,.7);}
#index-slider2 .sp-slide.sp-selected .title-frame h2 {font-size:25px;}
#index-slider2 .sp-slide.sp-selected .title-frame span.typcn {font-size:45px;}
#index-slider2 .sp-slide.sp-selected .title-frame hr.small {border-color:#fff; width:45px;}
#index-slider2 .sp-buttons { position: relative; width:auto; display:table; margin:-30px auto 0;  text-align: center; background:#fff; padding:25px 25px 5px; border-radius:4px; box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);}
#index-slider2 .sp-button {width: 20px; height: 20px; background: #b4b1b1 none repeat scroll 0 0; border: 0; border-radius: 50%; margin: 4px;  display: inline-block; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box;  cursor: pointer;  transform: translate3d(0px, -50%, 0px) scale(0.4); transform-origin: 50% 50% 0;    transition: all 250ms ease-out 0s;}
#index-slider2 .sp-selected-button, #index-slider2 .sp-button:hover { background: #28CB75 none repeat scroll 0 0; transform: translate3d(0px, -50%, 0px) scale(0.8);}


/* NAVIGATION MENU  ---------------------- */
nav#desktop-menu {  padding: 0; float:right; text-align: left; }
.f-nav{ z-index: 999; position: fixed; left: 0; top: 0; width: 100%; background:#fff; margin-top:-5px;
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.19);
  -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.19); box-shadow:  0px 3px 5px rgba(100, 100, 100, 0.19); }
  .fadeindown { -webkit-animation-duration: .45s;  -webkit-animation-timing-function: ease;  -webkit-animation-fill-mode: both;  -webkit-animation-name: fadeInDown;  -moz-animation-duration: .45s;  -moz-animation-timing-function: ease;  -moz-animation-fill-mode: both;  -moz-animation-name: fadeInDown;  animation-duration: .45s;  animation-timing-function: ease;  animation-fill-mode: both;  animation-name: fadeInDown;}
  /*** ESSENTIAL STYLES ***/
  .sf-menu, .sf-menu * {  margin: 0;  padding: 0;  list-style: none;}
  .sf-menu li {  position: relative;}
  .sf-menu ul {  position: absolute;  display: none;  top: 100%;  left: 0;  z-index: 99;}
  .sf-menu > li {  float: left;}
  .sf-menu li:hover > ul, .sf-menu li.sfHover > ul {  display: block;}
  .sf-menu a {  display: block;  position: relative;}
  .sf-menu ul ul {  top: 0;  left: 100%;}

  /*** SKIN ***/
  .sf-menu {  float: left;  margin: 0;}
  .sf-menu ul { min-width: 10em; *width: 10em; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);}
  /* 1st level */
  .sf-menu li {  white-space: nowrap;   *white-space: normal;}
  .sf-menu li a {color: #363B3F;  font-weight: 500;  padding:23px 20px 25px;  font-size: 0.77em;  letter-spacing: 0px;  text-transform: uppercase; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
  .sf-menu li:hover a, .sf-menu li.sfHover a, .sf-menu li.current a  { color: #363B3F; background:#F3F5F7;}
  /* 2nd level */
  .sf-menu ul li, .sf-menu li.current ul li{background:#fff!important; padding:0;}
  .sf-menu ul li a {background:#fff!important; font-size: 12px; padding: 12px 16px; color: #363B3F!important; border-bottom:1px solid #e5e8ec;}
  .sf-menu ul li:hover a, .sf-menu ul li.sfHover a  { color: #363B3F!important; background:#F3F5F7!important;  -webkit-transition: none;  transition: none; border-bottom:1px solid #e5e8ec;}
  /* 3rd level */
  .sf-menu ul li.sfHover li a {background:#fff!important; font-size: 12px; padding: 12px 16px; color: #363B3F!important; border-bottom:1px solid #e5e8ec;}
  .sf-menu ul li li:hover a, .sf-menu ul li li.sfHover a  { color: #363B3F!important; background:#F3F5F7!important;  -webkit-transition: none;  transition: none; border-bottom:1px solid #e5e8ec;}
  /* styling for both css and generated arrows */
  .sf-arrows .sf-with-ul {  padding-right: 2.5em;  *padding-right: 1em; }
  .sf-arrows .sf-with-ul:after {  content: '';  position: absolute;  top: 50%;  right: 1em;  margin-top: -3px;  height: 0;  width: 0;  border: 5px solid transparent;  border-top-color: #8C8C8C; }
  .sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {  border-top-color: #8C8C8C; }
  .sf-arrows ul .sf-with-ul:after {  margin-top: -5px;  margin-right: -3px;  border-color: transparent;  border-left-color: #6f6f6f;  }
  .sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after {  border-left-color: #6f6f6f;}
  .slicknav_menu {  display:none;}

  /* END OF HEADER 1  ---------------------- */


/* SEÇÕES   ---------------------- */
section {padding:55px 0; overflow:hidden;}
section h2 {text-align:center; margin-bottom:25px;}
section h2 span {color:#3190E7;}

/* DESTAQUES  ---------------------- */
.shadow-effect {
	background: #fff;
	padding: 20px;
	border-radius:4px;
	text-align:center;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}

.destaques span.typcn {
	font-size:70px;
	color:#3190E7;
}

.destaques h3{
	font-size:13px;
	letter-spacing: .06em;
}

.destaques p {
	font-size:15px;
	letter-spacing: .02em;
}

.destaques a.btn.btn-default {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 1px solid #fff; 
	border-radius:4px;
	background:#3190E7;
	color:#fff;
	font-size:12px;
	letter-spacing: .06em;
	font-weight:400;
	padding: 7px 18px 8px;
	text-shadow:none;
}

.destaques a.btn.btn-default:hover {
	background: #ffffff;
	color: #3190E7;
	border: 1px solid #3190E7;
}

/* Noticias */
.noticias .shadow-effect{
	padding: 0;
	padding-bottom: 20px;
}

.noticias h3 {
    font-size: 20px;
    letter-spacing: .06em;
}

.noticias a.btn.btn-default {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border: 1px solid #fff; 
	border-radius:4px;
	background:#3190E7;
	color:#fff;
	font-size:12px;
	letter-spacing: .06em;
	font-weight:400;
	padding: 7px 18px 8px;
	text-shadow:none;
}

.noticias a.btn.btn-default:hover {
	background: #ffffff;
	color: #3190E7;
	border: 1px solid #3190E7;
}

.noticias .btn-large{
	margin: 120px 0px 30px 0; 
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #3190E7;
}

.noticias .btn-large h3{
	color: #fff;
}

hr.small {border: solid #3190E7; border-width: 2px 0 0; clear: both; height: 0; margin:0 auto; max-width:100px;margin-bottom: 30px;}

 /* Contact Page */
 	.about1-numbers {padding-top:50px;}
.about1-numbers .number {font-family:'Lato', sans-serif; color:#EB1E94; font-size:28px; font-weight:900; letter-spacing:-.07em; background:#ccc; padding:6px; text-align:center; margin-top:20px; border-radius:6px;}
.about1-numbers .number.blue {background:#3190E7;  color:#fff;}
.about1-numbers .number.lightgray {background:#979796; color:#fff;}
.about1-numbers .number.green {background:#28CB75; color:#fff;}
.about1-numbers h4 {color:#808080; padding:18px 0 9px; margin:0; font-size:17px; text-transform: uppercase;}
.about1-numbers  .shadow-effect {text-align:left;}
.about1-numbers  .shadow-effect p {font-size:14px;}
.about1-numbers.contact {padding:45px 0 75px;}
.about1-numbers.contact .number {margin-top:15px; padding-top:0;}
.contact-form hr.small {border-width:1px 0 0; max-width:50px; border-color:#ccc;}
section.contact-form {padding-top:0;}
#contactform {margin-top:35px;}
#contactform label {font-weight:300; }
#contactform textarea.form-control { font-size: 16px; min-height:260px; }
#contactform input#submit {background:#3190E7; margin:15px auto 0; color:#fff; padding:9px 39px 10px; font-size:16px; border:0; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; display:table; transition: all 250ms ease-out 0s; }
#contactform input#submit:hover {  background: #666;}
#sendstatus { margin: 10px 0 0;}
#sendstatus .alert.alert-danger {border:0; background:#DE6F4C; color:#fff; border-radius: 4px; margin-bottom:4px;}
#sendstatus .alert.alert-success {border:0; background:#85EFC7; color:#333; border-radius: 4px;}
#map_wrapper { height: 550px; }
#map_canvas {width: 100%;    height: 100%;}
#map_canvas img {max-width: none;}

/* ==================================

/* ABOUT US */
section.aboutus {background: #eaedf2 url(img/sobrenosbg.jpg) top right; min-height:895px; padding-top:215px;}
.aboutus hr.small { border: solid #3190E7; border-width: 2px 0 0; clear: both; height: 0; margin:21px 0 42px; max-width:100px;}
section.aboutus h2 {margin-bottom:25px; text-align: left;}
section.aboutus h4 {font-weight:300; font-size:30px; margin-bottom:35px;}
section.aboutus a.btn.btn-default {margin-top:20px; -webkit-transition: all 0.3s ease-in-out;  -moz-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;   border: 1px solid #fff; border-radius:4px; background:#3190E7; color:#fff; font-size:14px; letter-spacing: .06em; font-weight:400; padding: 7px 18px 8px; text-shadow:none;}
section.aboutus a.btn.btn-default:hover { background: #ffffff; color: #3190E7;  border: 1px solid #3190E7; }

/* ==================================
8 = Footer
==================================== */
section.footer {background:#666; padding:60px 0; overflow:visible;}
.footer-elements {margin-top:-120px;}
.footer-element { background: #3190E7; padding: 8px 15px 15px; text-align:center; box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);}
.footer-element span.typcn { font-size:45px;color:#fff; margin-bottom:15px;}
.footer-element p { font-size:14px; color:#fff;margin-bottom:0;}
.footer-element p span { display: block;}
.footer-element p a { color:#fff;}
.footer-widgets { margin-top: 42px;}
.footer-widget { padding-right:25px;}
.footer-widgets .small-logo { margin:10px 0 15px;}
.footer-widgets p { font-size:15px; color:#ccc;margin-bottom:0;}
.footer-widgets h5 { font-size:18px; color:#fff;margin:12px 0 20px; padding:0;}
.footer-widgets ul.posts { margin:0; padding:0; list-style: none;}
.footer-widgets ul.posts li {padding:9px 0; border-bottom:1px solid #747474; font-size:15px;}
.footer-widgets ul.posts li:first-child {padding-top:0; }
.footer-widgets ul.posts li:last-child {border-bottom:0; }
.footer-widgets ul.posts li a {color:#ccc; transition: all 250ms ease-out 0s;}
.footer-widgets ul.posts li a:hover {color:#fff;}
.footer-widgets ul.posts li span {display:block;font-size:12px; margin-top:3px;color:#B9B9B8;}
#mc_embed_signup { margin-top:15px;}
#mc_embed_signup input[type="email"] { border-radius:5px; width:100%; padding:10px 15px; border:0; box-shadow: 0;}
#mc_embed_signup input[type="submit"] { margin-top:5px; transition: all 250ms ease-out 0s; border-radius:5px; width:100%; padding:10px 15px; border:0; box-shadow: 0; color:#fff; background:#28CB75;}
#mc_embed_signup input[type="submit"]:hover { background:#808080;}

/* Social Buttons ---------------------- */
.social-links {margin:20px 0 0; padding:0;}
.social-links li { list-style: none;  display: inline-table;}
.social-links li a { color:#fff; font-size:13px; display: inline-block;  padding-top:7px;  text-align: center;  height: 34px;  width: 34px;  position: relative; z-index: 1; -webkit-transition: color 0.15s; transition: color 0.15s; -moz-osx-font-smoothing: grayscale; border-radius:50%; -webkit-backface-visibility: hidden;}
.social-links li a::before { content: '';  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  border-radius: inherit;  z-index: -1;  box-shadow: inset 0 0 0 35px #808080;  -webkit-transform: scale3d(0.7, 0.7, 1);  transform: scale3d(0.7, 0.7, 1);  -webkit-transition: box-shadow 0.15s, -webkit-transform 0.15;  transition: box-shadow 0.15s, transform 0.15s;}
.social-links li a:hover::before {  -webkit-transform: scale3d(1.0, 1.0, 1);  transform: scale3d(1.0, 1.0, 1); box-shadow: inset 0 0 0 35px  #009DE0;}

.copyright {padding:15px 0; background:#525151;}
.copyright p {font-size:14px; color:#ccc; margin-bottom:0;}

/* Back to Top Button  ----------------------- */
#back-to-top { color:#fff; position:fixed; bottom:20px; right:20px; z-index:99; display:none; text-align: center; border-radius: 50%; -moz-border-radius: 50%;  -webkit-border-radius:  50%; -o-border-radius:  50%;    z-index: 10000;    height: 59px;    width: 59px;    background-color:#3190E7;    background-repeat: no-repeat;    background-position: center;  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); -webkit-transform: scale3d(0.7, 0.7, 1);  transform: scale3d(0.7, 0.7, 1);  -webkit-transition: box-shadow 0.15s, -webkit-transform 0.15;  transition: box-shadow 0.15s, transform 0.15s;}
#back-to-top i { padding-top:20px; font-size:17px; }
#back-to-top:hover { background:#28CB75;  -webkit-transform: scale3d(1.0, 1.0, 1);  transform: scale3d(1.0, 1.0, 1);}

/* ===================
 9 = Media Queries
 =================== */

 /* For IE Edge (Spartan)  ----------------------- */
 @supports (-ms-accelerator:true) {
    ::-webkit-input-placeholder {  opacity:  0;}
}
/* End For IE Edge (Spartan)  ----------------------- */

@media only screen and (max-width: 767px) {
    .header ul.phone {margin:0 auto; display:table; text-align: center;}
    .header ul.toplinks {margin:12px auto 0; display:table; float:none; text-align: center;}
    .header.header2 ul.phone li {float:none; margin-right:0; display:block; text-align: center;}
    .header.header2 ul.phone li:first-child {border:0;}
    #navigation {display:none;}
    .slicknav_menu {display:block; font-size:13px; font-weight:500; background:#29303C;}
    .slicknav_btn {font-size:16px; background:#3190E7; border-radius:100%; width:34px; height:34px; padding:11px 0 0 8px; }
    .slicknav_nav a {text-transform: uppercase; font-size:13px; font-weight:500;}
    .slicknav_nav a:hover {-webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius:0!important; background:#373f4b!important; color: #fff; }
    .header .logonav {padding:10px 20px; display:table; margin:15px auto 0; }
    .header .logo {margin-top:0; padding-left:0; max-width:230px; text-align:center;}
   #index-slider .sp-slide .hw-the-slider-captions { padding: 0 30px;}
    #index-slider .sp-slide h2 {font-size:25px;}
    #index-slider.home2.owl-carousel .item h3 {font-size:24px; padding-right:45px;}
    #index-slider2 .sp-slide .hw-the-slider-captions {padding: 0 10px;}
    section.testimonials.home2 .shadow-effect:after {left: 18%; }
    #clients-carousel .item img {padding:15px;}
    section.aboutus, section.numbers {background: #eaedf2; min-height:0; padding-top:55px;}
    section.calltoaction.home3 .shadow-effect {margin-top:40px;}
    .footer-widget {padding-right:0; margin-bottom:35px;}
    .footer-widget:last-child {margin-bottom:0;}
    .image-mockup {margin-bottom:70px; padding:0; text-align: center;}
    section.services3-list .service-image, section.services3-list.gray .service-image {float:none;}
    section.services3-list .text-padding, section.services3-list.gray .text-padding  {padding:20px;}
    .about1-numbers  .shadow-effect, #about1-slider {margin-bottom: 20px;}
    .normaltabs.tabs-top-horizontal > .nav-tabs > li { margin: 0 0 20px; display: block; width:100%; }
    .normaltabs.tabs-top-horizontal > .nav-tabs > li > a {  padding:10px 7px;font-size:12px;}
    .skills-progressbars {padding-left:0; margin-top:50px;}
    #video-header .video-header-message h1 {font-size:28px; padding:0 20px;}
    .pricingtables .most-popular { top:0;}
    section.services2 .blockquote-colored {margin:30px 0;}
    .bigtabs.tabs-top-horizontal > .nav-tabs > li {  float: left; min-width:100%; display:block; margin: 20px 8px;}
    .bigtabs.tabs-top-horizontal .tab-content p.subtitle {padding:0;}
    #about2-video .about2-video-container:after { background:#fff; opacity:0; }
    .tabs-left-vertical .tab-content {padding:0; float:none; width:100%; margin-top:20px;}
    .tabs-left-vertical > .nav-tabs { float:none; width:100%;  }
    .tabs-left-vertical > .nav-tabs .active:after {border-width: 0;}
    .negative-margin {margin-top:35px;}
    .single-project .shadow-effect .element {margin-bottom:20px;}
    #single-project-slider.owl-carousel .owl-controls {display:none; }
    .single-project .shadow-effect h3 {font-size:12px; }
    .single-project .shadow-effect .single-project-elements {padding:10px; }
    .single-project .shadow-effect hr.small {margin-top:20px; margin-bottom:20px;}
    .single-project .shadow-effect h4, .single-project-elements.elements h4 { max-width: 300px; font-size: 20px;}
    .sharing-buttons ul li { padding:11px 2px 12px;}
    .sharing-buttons ul li i { font-size:12px; width:25px; height:25px; padding:6px 0 0 0;}
    span.prev, span.next {float:none; display:table; margin:0 auto;}
    span.navto { margin:22px auto;  }
    #single-project-carousel.owl-carousel .owl-controls {display:none;}
    .blog article {padding-right:0;}
    .blog article .post-content .themeta span {display:inline-block; margin: 0 10px 10px 0;}
    .blog nav ul.pagination li {font-size:14px;}
    .blog nav ul.pagination li a {padding: 10px 12px 9px;}
    .author-gravatar img {max-width:90px; display:table; margin:0 auto 25px;}
}

@media (min-width: 768px) {
    .block-grid-sm-1 > .block-grid-item { width: 100%; }
    section.projects1 .block-grid-sm-3 > .block-grid-item { width: 33.3%; }
    section.projects1 .block-grid-sm-4 > .block-grid-item { width: 24.985%; }
    section.projects1 .block-grid-md-4 > .block-grid-item { width: 24.985%; }
    section.projects2 .block-grid-sm-3 > .block-grid-item { width: 33.3%; }
    section.projects2 .block-grid-sm-4 > .block-grid-item { width: 24.985%; }
    section.projects2 .block-grid-md-4 > .block-grid-item { width: 24.985%; }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .header .logo {margin-top:22px;}
    .header.header2 ul.phone li:first-child {border:0;}
    .header.header2 .logo {margin-top:19px;}
    .sf-menu li a {padding:25px 8px;  font-size: 0.7em;}
    .sf-menu ul {  min-width:7.5em; *width: 7.5em;}
    .introtext .shadow-effect {  padding: 10px;}
    .introtext .shadow-effect i { font-size:50px;}
    .introtext .shadow-effect h3 { font-size:13px; letter-spacing: .03em;}
    .introtext .shadow-effect p { font-size:14px; letter-spacing: 0;}
    section.aboutus, section.numbers {padding-top:115px;}
    section.calltoaction.home3 .cta-title {font-size:14px; padding:10px 15px;}
    .footer-element {padding: 15px 10px;}
    .footer-element p { font-size:13px; }
    .footer-widget {padding-right:5px;}
    .services1-grid .block-grid-item h3 { font-size:11px;}
    section.services3-list .service-image, section.services3-list.gray .service-image {float:none;}
    section.services3-list .text-padding, section.services3-list.gray .text-padding  {padding:20px;}
    #about1-slider {margin-bottom: 20px;}
    .skills-progressbars {padding-left:0; margin-top:50px;}
    #about2-video .about2-video-container {  min-height: 360px; }
    #about2-video .about2-video-container .videocaption .videocaption-content {padding:15px; outline-offset: -8px; }
    #about2-video .about2-video-container .videocaption .videocaption-content h2 {font-size: 22px;}
    #about2-video .about2-video-container .videocaption .videocaption-content hr { margin:13px auto; }
    #about2-video .about2-video-container .videocaption .videocaption-content p { font-size: 13px; margin-top: 15px; }
    section.services2 .blockquote-colored {margin:30px 0;}
    .bigtabs.tabs-top-horizontal > .nav-tabs > li { margin:0 3px; min-width:150px;}
    .tabs-left-vertical .tab-content {width:80%;}
    .tabs-left-vertical > .nav-tabs { width:20%;  }
    .single-project .shadow-effect .single-project-elements {padding:10px; }
    .about1-numbers.contact span a {font-size:12px;}
}

@media only screen and (min-width: 960px) and (max-width: 1025px) {
  .services1-grid .block-grid-item h3 { font-size:15px;}
  #about2-video .about2-video-container {  min-height: 450px; }
  .negative-margin {margin-top:-35px;}
}

@media only screen and (max-width: 1025px) {
  #search form {left: 5%;  right: 5%;}
  #search input[type="search"] {font-size:35px; }
  #index-slider2 .sp-slide.sp-selected .title-frame {width:100%;}
}

@media only screen and (min-width: 1026px) and (max-width: 1601px) {
 #index-slider2 .sp-slide.sp-selected .title-frame {width:80%;}
 #index-slider2 .sp-slide .hw-the-slider-captions {padding: 0 40px;}
}

@media (min-width: 768px) {
    .col-sm-15 { width: 20%;  float: left; }
}
@media (min-width: 992px) {
    .col-md-15 { width: 20%;  float: left; }
}
@media (min-width: 1200px) {
    .col-lg-15 { width: 20%;  float: left; }
}